

.social-icons i {
    color: #fff;
    position: absolute;
    top: -6px;
    left: 4px;
    transition: all 265ms ease-out;
}

.social-icons a {
    display: inline-block;
}

.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, rgb(34 0 245), rgb(143 0 125));
    transition: all 265ms ease-out;
}

.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #d800f5;
    background: -webkit-linear-gradient(45deg, #d39fdc, #8a008f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}

.X{
     animation: flicker 3s linear infinite;
}
 @keyframes flicker {
	 0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		 opacity: 0.99;
		 text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.258), 1px -1px 0 rgba(255, 255, 255, 0.231), -1px 1px 0 rgba(255, 255, 255, 0.279), 1px 1px 0 rgba(255, 255, 255, .4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff00f2, 0 0 15px #f44, 0 0 2px #ff00f2, 0 2px 3px #000;
	}
	 20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		 opacity: 0.4;
		 text-shadow: none;
	}
}
.header{
    	 text-shadow: 1.5px 1.5px 0 #cac6c5,
    	 -1.5px -1.5px 0 #cac6c5,
    	 -1.5px -1.5px 0 #cac6c5,
    	 -1.5px 1.5px 0 #cac6c5,
    	 1.5px -1.5px 0 #cac6c5;
    	 transition: all 400ms ease-in-out;
}
.header--pushDown {
     text-shadow: 1.5px 1.5px 0 #333, 0px 1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px 1.5px 0 #333, 1.5px -1.5px 0 #333,  0.7778174593px 0.7778174593px 0 #aaa, 1.5556349186px 1.5556349186px 0 #aaa, 2.3334523779px 2.3334523779px 0 rgb(155, 121, 155), 3.1112698372px 3.1112698372px 0 rgb(150, 97, 164), 1.8890872965px 1.8890872965px 0 rgb(181, 113, 198), 2.6669047558px 2.6669047558px 0 rgb(233, 116, 231), 3.4447222151px 3.4447222151px 0 rgb(179, 72, 177), 4.2225396744px 4.2225396744px 0 rgb(209, 69, 191), 5.0003571337px 5.0003571337px 0 rgb(198, 45, 195), 5.7781745931px 5.7781745931px 0 rgb(184, 19, 181);
 }
 .header--pushDown:hover {
     transform: translate(4px, 4px);
      text-shadow: 0 0 0 #cac6c5; /*-1.5px -1.5px 0 #cac6c5, -1.5px -1.5px 0 #cac6c5, -1.5px 1.5px 0 #cac6c5, 1.5px -1.5px 0 #cac6c5; */
 }
.header--shadow:hover {
      transform: translate(3px, 0);
  }

.header--shadow:hover {
      transform: translate(-3px, 0);
  }
.cc {
    display: flex !important;
}

.slide_image_boots {
    width: 50%;
    overflow: hidden;
}

img {
    width: 500px;
    height: 300px;
}

@media screen and (max-width:770px) {
    .justify-content-between {
        display: block;
    }

    .slide_image_boots {
        width: 100%;
        margin-bottom: 20px;
    }
}

