.cc {
    display: flex !important;
}

.slide_image_boots {
    width: 50%;
    overflow: hidden;
}

img {
    width: 500px !important;
    height: 300px !important;
}

@media screen and (max-width:770px) {
    .justify-content-between {
        display: block;
    }

    .slide_image_boots {
        width: 100%;
        margin-bottom: 20px;
    }
}
