
.X{
     animation: flicker 3s linear infinite;
}
 @keyframes flicker {
	 0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		 opacity: 0.99;
		 text-shadow: -1px -1px 0 rgba(255, 255, 255, .4), 1px -1px 0 rgba(255, 255, 255, .4), -1px 1px 0 rgba(255, 255, 255, .4), 1px 1px 0 rgba(255, 255, 255, .4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff00f2, 0 0 15px #f44, 0 0 2px #ff00f2, 0 2px 3px #000;
	}
	 20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		 opacity: 0.4;
		 text-shadow: none;
	}
}

.cc {
    display: flex !important;
}

.slide_image_boots {
    width: 50%;
    overflow: hidden;
}

img {
    width: 500px !important;
    height: 300px !important;
}

@media screen and (max-width:770px) {
    .justify-content-between {
        display: block;
    }

    .slide_image_boots {
        width: 100%;
        margin-bottom: 20px;
    }
}

