#main {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  background-color: #171941;
  background-image: url("https://www.robotix.nitrr.ac.in/static/assets/img/dots.png");
  background-size: contain;
  overflow-x:hidden;
}
#main-heading {
  display: inline-block;
  margin: 20px 10px;
  color: #ffffff;
  vertical-align: middle;
  z-index: 1;
  font-size: 2.5rem;
}

header {
  text-align: center;
  margin: 25px 0 25px 0;
}

.inner-container {

  z-index: 1;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align:center;


}

.second-inner {
  padding-top: 90px;
  padding-bottom: 100px;
}

/* When the certificate is not displayed */
@media screen and (min-width:992px) {
  .single-block
  {
  margin-left:25% !important;
  margin-right:25% !important;
  }

}

/* important */
.container-fluid {
padding-left: 0;
padding-right: 0;
overflow: hidden;
position:relative;

/* min-height: calc(100vh - 365px); */
}


@keyframes move-left-right {
0% {
  transform: translateX(-10px);
}

50% {
  transform: translateX(10px);
}

100% {
  transform: translateX(-10px);
}
}

.squares {
animation: move-left-right 1s infinite;
background: #ba54f5;
background: -webkit-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
background: -o-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
background: -moz-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
position: absolute;
transition: 0.5s ease-out;
overflow: hidden;
border-radius: 20%;

}

.squares.square1 {
animation: move-left-right 4s infinite;
height: 300px;
width: 300px;
opacity: 0.5;
left: 3%;
top: -21%;
overflow: hidden;
}

.squares.square2 {
animation: move-left-right 6s infinite;
height: 400px;
width: 400px;
opacity: 0.4;
right: -3%;
top: -12%;
overflow: hidden;
}

.squares.square3 {
animation: move-left-right 5s infinite;
height: 200px;
width: 200px;
opacity: 0.1;
left: -5%;
bottom: 0%;
overflow: hidden;
}

.squares.square4 {
animation: move-left-right 10s infinite;
height: 300px;
width: 300px;
opacity: 0.5;
right: 50%;
top: 85%;
}

.squares.square5 {
animation: move-left-right 6s infinite;
height: 250px;
width: 250px;
opacity: 0.1;
left: 32%;
bottom: 29%;
}

.squares.square6 {
animation: move-left-right 9s infinite;
left: 10%;
top: 35%;
height: 80px;
width: 80px;
opacity: 0.8;
overflow: hidden;
}

.squares.square7 {
animation: move-left-right 3s infinite;
width: 300px;
height: 300px;
right: -5%;
bottom: 0%;
opacity: 0.1;
overflow: hidden;
}

.card-register .card-header .card-title {
position: relative;
font-size: 3.5rem;
font-weight: 900;
color: #222a42;
text-transform: uppercase;
top: 10px;
z-index: 1;
}
.card-body .text-primary{
font-size: 1.5rem;
}
.card-register .card-header{
  background-color: transparent;
}
.card-body .text-white{
font-size: 1.0rem;
color: #ffffff;
text-align: centre;
width:75%;
margin-left: auto;
margin-right: auto;
}
.button-container{
width: 50%;
margin : 30px auto;
display: flex;
justify-content: space-between;
}
.fa{
color: #e14eca;
border: solid 2px #e14eca;
border-radius: 30px;
padding: 8px;
margin: 10px auto;
}


.icon {
position: relative;
display: inline-block;
/* border-bottom: 1px dotted black; */
} 

.icon .tooltiptext {
 visibility: hidden; 
width: 120px;
background-color: #ffffff;
color: black;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
top: 100%;
left: 50%;
margin-left: -60px;
}

.icon .tooltiptext::after {
content: "";
position: absolute;
bottom: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: transparent transparent #ffffff transparent;
}

.icon:hover .tooltiptext {
visibility: visible;
}

@media screen and (max-width:560px){
.card-register .card-header .card-title{
  font-size: 3.0rem;
}
.button-container{
  width:75%;
}
}
@media screen and (max-width:420px){
.button-container{
  width:85%;
}
.icon .tooltiptext {
  width: 80px;
  left:100%;
}
}
.aboutcont{
margin:100px;}
@media screen and (max-width:500px){.aboutcont{margin:20px;}}
  .squares.square8 {
    animation: move-left-right 6s infinite;
    height: 200px;
    width: 200px;
    opacity: 0.4;
    right: -3%;
    top: 2%;
    overflow: hidden;
  }
  .squares.square9 {
    animation: move-left-right 10s infinite;
    height: 80px;
    width: 80px;
    opacity: 0.5;
    right: 50%;
    top: 85%;
  }
